.context-modal-pre {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 10px 20px;
  margin: 20px;
}
.context-modal-code {
    white-space: pre-wrap;
}
.context-modal-json-key {
  color: brown;
}
.context-modal-json-value {
  color: navy;
}
.context-modal-json-string {
  color: olive;
}